<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="themes::head"></head>
<body class="container">
	<header th:insert="themes::header"></header>
	<nav th:insert="themes::menu"></nav>
	<section class="row justify-content-left">	
		<div class="col-3 mt-1">
			<p class="h3">Choisir une date</p>
			<div class="col row justify-content-between">
				<a class="col-3 btn btn-primary btn-sm" href="#" th:href="@{/member/before/{date}(date=${currentDate})}" role="button">Avant</a>
				<p class="h5 col-6 border border-primary my-0" th:text="${currentDate}"></p>
				<a class="col-3 btn btn-primary btn-sm" href="#" th:href="@{/member/after/{date}(date=${currentDate})}" role="button">Après</a>
			</div>
			<p class="h3">Choisir un aéronef</p>
			<ul class="list-group" th:each ="aircraft : ${aircrafts}">
				<li th:if="${aircraft.available}">
					<a href="#" th:href="@{/member/planning/{aircraftId}/date/{date}(aircraftId=${aircraft.id}, date=${currentDate})}"
						  th:text="${aircraft.registration} + ' ' + ${aircraft.make} + ' ' + ${aircraft.model} + ' ' + ${aircraft.hourlyRate} + '€/h'"></a>
				</li>
				<li th:unless="${aircraft.available}">
					<p th:text="${aircraft.registration} + ' ' + ${aircraft.make} + ' ' + ${aircraft.model} + ' / Indisponible'"></p>
				</li>
			</ul>
		</div>
		<div class="col-5 table-responsive" th:if="${selectedAircraft != null}">	
			<p class="h3" th:text="'Réservations en cours pour ' + ${selectedAircraft.registration}"></p>
			<table class="table table-sm table-striped table-bordered">
				<thead>
					<tr>
						<th>Heure depart</th>
						<th>Heure retour</th>
					</tr>
				</thead>	
				<tbody th:each="booking : ${bookings}">
					<tr>			
						<td th:text="${#temporals.format(booking.departureTime, 'dd-MM HH:mm')}"></td>
						<td th:text="${#temporals.format(booking.arrivalTime, 'dd-MM HH:mm')}"></td>		
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-4" th:if="${selectedAircraft != null}">
			<p class="h3">Faire votre réservation</p>
			<div class="col-12">
				<form action="#" th:action="@{/member/book}" method="post" class="form-row form-inline" th:object="${newBooking}">   			
					<input type="hidden" th:field="*{aircraftId}" />
					<input type="hidden" th:field="*{memberId}" />
					
					<label class="col">Description :</label>
					<input type="text" class="form-control form-control-sm col-7 col-md-3"
						th:field="*{description}" required="required" autofocus="autofocus" />
					
					<label class="col">Départ :</label>
					<div class="col row"> 
						<input type="date" class="form-control form-control-sm col-6" 
							th:field="*{departureDate}" required="required"  />
						<input type="time" class="form-control form-control-sm col-6" 
							th:field="*{departureTime}" required="required"  />
					</div>
														
					<label class="col">Retour</label>
					<div class="col row"> 
						<input type="time" class="form-control form-control-sm col-6"
							th:field="*{arrivalTime}" required="required" />	
						<input type="date" class="form-control form-control-sm col-6"
							th:field="*{arrivalDate}" required="required" />
					</div>								
					<input class="btn btn-primary offset-4 mt-3" type="submit" value="Réservez">						
				</form>
			</div>
		</div>
	</section>
	<footer th:insert="themes::footer"></footer>
</body>
</html>