<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/themes::head"></head>
<body class="container">
	<header th:insert="fragments/themes::header"></header>
	<nav th:insert="fragments/themes::menu"></nav>
	<section class="row">
		<div class="col-12">
			<p class="h3">Bravo !</p>
		</div>
		<div class="col-12">
			<p>L'opération demandée a réussi</p>
			<p th:text="${message}">Message</p>
			<a class="col-3 btn btn-primary" href="#" th:href="@{/member/planning}" role="button">Retour</a>
		</div>	
	</section>
</body>
</html>